.footer {
  background: rgb(168, 45, 73);
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 19px;
}
.footer span{
    color: #000;
    font-weight: bold;
}
@media(max-width:672px){
    .footer {  font-size: 15px;
}

}